* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: #5f52a4;
  padding: 5px 20px;

  nav {
    color: #fff;
    padding: 10px;

    .nav-link {
      list-style-type: none;
      display: inline;
      margin: 5px;
    }

    .link {
      color: #fff;
      text-decoration: none;
    }
    .link:hover {
      color: #c7c7c7;
      text-decoration: underline;
    }

    .site-logo {
      color: #fff;
      text-decoration: none;
      font-size: 20px;
    }
    .site-logo:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}