// Variables
$fonts1: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$fonts2: Verdana, Geneva, Tahoma, sans-serif;
$maincolor: #fff;
$hovercolor: #acb6c5;
$primarycolor: #5f52a4;
$defaultcolor: #3a3a3a;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: $maincolor;
  font-family: $fonts1;
}

li, a, button {
  font-family: $fonts1;
  font-weight: 500;
  font-size: 16px;
  color: $maincolor;
  text-decoration: none;
}

header {
  background-color: $primarycolor;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 10%;

  .logo   {
    cursor: pointer;
    margin-right: auto;
    font-family: $fonts2;
    font-weight: 500;
    font-size: 25px;
    color: $maincolor;
  }

  nav {
    color: $maincolor;
    padding: 10px;

    .nav-links {
      list-style-type: none;

      li {
        display: inline-block;
        padding: 0px 20px;

        a { transition: all 0.3s ease 0s; }
        a:hover { color: $hovercolor; }
      }
    }
  }
}

main {
  background-color: $maincolor;
  color: $defaultcolor;

  .intro {
    background-color: $primarycolor;
    color: $maincolor;
    text-align: center;
    padding: 15px 10%;

    div {
      padding: 30px 0 0 0;
      h1 { font-size: xx-large; }
      p { padding: 15px 0; }

      button {
        font-size: small;
        font-weight: 400;
        background-color: #ee457d;
        border: none;
        text-transform: uppercase;
        padding: 8px 20px;
        margin: 30px 0 10px 0;
      }

      img { width: 50%; }
    }
  }

  .map1 {
    text-align: center;
  }
}